<li class="catalog__item @@class">
    <a href="@@href" class="catalog__link caption">@@text</a>
    <div class="catalog__img-wrapper">
        <picture>
            <source srcset="@@img-m, @@img-m2x 2x" media="(max-width: 767px)" class="catalog__img">
            <source srcset="@@img-t, @@img-t2x 2x" media="(max-width: 1023px)" class="catalog__img">
            <source srcset="@@img, @@img2x 2x" media="(min-width: 1024px)" class="catalog__img">
            <img src="@@img" srcset="@@img, @@img2x 2x" alt="@@alt" class="catalog__img">
        </picture>
    </div>  
</li>