<section class="catalog">
    <h2 class="visually-hidden">Catalog</h2>
    <ul class="catalog__list list">
     @@include('catalog/catalog-card.html', {
       "class":"col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6",
        "href":"#",
        "img-m":"/static/images/catalog/ApparelKids-mobile.png",
        "img-m2x":"/static/images/catalog/ApparelKids-mobile2x.png",
        "img-t":"/static/images/catalog/ApparelKids-tablet.png",
        "img-t2x":"/static/images/catalog/ApparelKids-tablet2x.png",
        "img":"/static/images/catalog/ApparelKids.png",
        "img2x":"/static/images/catalog/ApparelKids2x.png",
        "alt": "children's clothes",
        "text":"Apparel kids",  
        "width":"244",
        "height":"177",
      } )
    @@include('catalog/catalog-card.html', {
        "class":"col-xl-3 col-lg-4 col-md-4 col-sm-6 col-md-4 col-xs-6",
        "href":"#",
        "img-m":"/static/images/catalog/HolidayShop-mobile.png",
        "img-m2x":"/static/images/catalog/HolidayShop-mobile2x.png",
        "img-t":"/static/images/catalog/HolidayShop-tablet.png",
        "img-t2x":"/static/images/catalog/HolidayShop-tablet2x.png",
        "img":"/static/images/catalog/HolidayShop.png",
        "img2x":"/static/images/catalog/HolidayShop2x.png",
        "alt": "thing for a holiday",
        "text":"Holiday shop",  
     } )
     @@include('catalog/catalog-card.html', {
        "class":"col-xl-3 add-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6",
        "href":"/pages/toys/index.html",
        "img-m":"/static/images/catalog/Toys-mobile.png",
        "img-m2x":"/static/images/catalog/Toys-mobile2x.png",
        "img-t":"/static/images/catalog/Toys-tablet.png",
        "img-t2x":"/static/images/catalog/Toys-tablet2x.png",
        "img":"/static/images/catalog/Toys.png",
        "img2x":"/static/images/catalog/Toys2x.png",
        "alt": "toy",
        "text":"Toys",    
      } )
      @@include('catalog/catalog-card.html', {
        "class":"col-xl-3 skip-xl-2 col-lg-4 col-md-4 col-sm-6 col-xs-6",
        "href":"#",
        "img-m":"/static/images/catalog/Accessories-mobile.png",
        "img-m2x":"/static/images/catalog/Accessories-mobile2x.png",
        "img-t":"/static/images/catalog/Accessories-tablet.png",
        "img-t2x":"/static/images/catalog/Accessories-tablet2x.png",
        "img":"/static/images/catalog/Accessories.png",
        "img2x":"/static/images/catalog/Accessories2x.png",
        "alt": "accessories",
        "text":"Accessories", 
      } )
      @@include('catalog/catalog-card.html', {
        "class":"col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6",
        "href":"#",
        "img-m":"/static/images/catalog/Sale-mobile.png",
        "img-m2x":"/static/images/catalog/Sale-mobile2x.png",
        "img-t":"/static/images/catalog/Sale-tablet.png",
        "img-t2x":"/static/images/catalog/Sale-tablet2x.png",
        "img":"/static/images/catalog/Sale.png",
        "img2x":"/static/images/catalog/Sale2x.png",
        "alt": "sale",
        "text":"Sale",    
      })
      @@include('catalog/catalog-card.html', {
        "class":"col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6",
        "href":"#",
        "img-m":"/static/images/catalog/ApparelAdults-mobile.png",
        "img-m2x":"/static/images/catalog/ApparelAdults-mobile2x.png",
        "img-t":"/static/images/catalog/ApparelAdults-tablet.png",
        "img-t2x":"/static/images/catalog/ApparelAdults-tablet2x.png",
        "img":"/static/images/catalog/ApparelAdults.png",
        "img2x":"/static/images/catalog/ApparelAdults2x.png",
        "alt": "apparel adults",
        "text":"Apparel Adults",
      })
    </ul>
</section>