<section class="products container">
    <h2 class="products__title caption">Category products</h2>
    <ul class="products__list list">
         @@include('products/products-card.html', {
            "href":"#",
            "img-m":"/static/images/catalog/ApparelKids-mobile.png",
            "img-m2x":"/static/images/catalog/ApparelKids-mobile2x.png",
            "img-t":"/static/images/catalog/ApparelKids-tablet.png",
            "img-t2x":"/static/images/catalog/ApparelKids-tablet2x.png",
            "img":"/static/images/catalog/ApparelKids.png",
            "img2x":"/static/images/catalog/ApparelKids2x.png",
            "alt": "children's clothes",
            "text":"Apparel kids", 
        } )
        @@include('products/products-card.html', {
            "href":"#",
            "img-m":"/static/images/catalog/HolidayShop-mobile.png",
            "img-m2x":"/static/images/catalog/HolidayShop-mobile2x.png",
            "img-t":"/static/images/catalog/HolidayShop-tablet.png",
            "img-t2x":"/static/images/catalog/HolidayShop-tablet2x.png",
            "img":"/static/images/catalog/HolidayShop.png",
            "img2x":"/static/images/catalog/HolidayShop2x.png",
            "alt": "thing for a holiday",
            "text":"Holiday shop",   
         } )
         @@include('products/products-card.html', {
            "href":"/pages/toys/index.html",
            "img-m":"/static/images/catalog/Toys-mobile.png",
            "img-m2x":"/static/images/catalog/Toys-mobile2x.png",
            "img-t":"/static/images/catalog/Toys-tablet.png",
            "img-t2x":"/static/images/catalog/Toys-tablet2x.png",
            "img":"/static/images/catalog/Toys.png",
            "img2x":"/static/images/catalog/Toys2x.png",
            "alt": "toy",
            "text":"Toys", 
          } )
          @@include('products/products-card.html', {
            "href":"#",
            "img-m":"/static/images/catalog/Accessories-mobile.png",
            "img-m2x":"/static/images/catalog/Accessories-mobile2x.png",
            "img-t":"/static/images/catalog/Accessories-tablet.png",
            "img-t2x":"/static/images/catalog/Accessories-tablet2x.png",
            "img":"/static/images/catalog/Accessories.png",
            "img2x":"/static/images/catalog/Accessories2x.png",
            "alt": "accessories",
            "text":"Accessories", 
          } )
    </ul>
    <div class="products__text">
        <button class="products__control_back" aria-label="show previous category">
            <svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-width="4" />
            </svg>
        </button>
        <button class="products__control_forward" aria-label="show next category">
            <svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2L15 15L2 28" stroke="#1E0606" stroke-width="4" />
            </svg>
        </button>
        <p class="products__desc">Modern finds for the modern home. Curated goods by unique designers around the
            world from fashion to
            furniture for kids and adults.</p>
    </div>
</section>