<li class="products__item">
    <a href="@@href" class="products__link caption">@@text</a>
    <div class="products__img-wrapper">
        <picture>
            <source srcset="@@img-m, @@img-m2x 2x" media="(max-width: 767px)" class="products__img">
            <source srcset="@@img-t, @@img-t2x 2x" media="(max-width: 1023px)" class="products__img">
            <source srcset="@@img, @@img2x 2x" media="(min-width: 1024px)" class="products__img">
            <img src="@@img" srcset="@@img, @@img2x 2x" alt="@@alt" class="products__img">
        </picture>
    </div>    
</li>