.btn{
    display: flex;
    padding: 9px 22px;
    min-width: 80px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    border: 0;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000; 
    transition: background-color 0.4s ease;
    &:hover{
        cursor: pointer;
        background-color: #C29974;
    }
    &:active{
        cursor: pointer;
        background-color:#CFAF91;
    }
    &:disabled{
        background-color: #C1C1C1;
     }
 }

