<form action="https://echo.htmlacademy.ru" method="post" class="form">
    <fieldset class="form__fieldset">
        <div class="form__input__wrapper">
            <input id="name-input" type="text" placeholder="Ivan Ivanov" class="form__input">
            <label for="name-input" class="form__label">Name</label>
        </div>
        <div class="form__field">
            <div class="field__input__wrapper">
                <input type="tel" id="phone-input" class="form__input">   
                <label for="phone-input" class="form__label">Phone</label>
            </div>
            <div class="field__input__wrapper">
                <input type="email" id="email-input" class="form__input">
                <label for="email-input" class="form__label">Email</label>
            </div>
        </div>
        <div class="form__textarea__wrapper">
            <textarea id="textarea" cols="10" rows="10" class="form__input"></textarea>
            <label for="textarea" class="form__label">Message</label>
        </div>
        <div class="form__checkbox__wrapper">
            <input id="check" type="checkbox" class="form__input_checkbox visually-hidden" value="" checked>
            <label for="check" class="form__label form__label_checkbox">By clicking on the button, you consent to the processing of your
                personal data</label>
        </div>
   <button type="submit" class="form__button btn">Submit</button>
</fieldset>
</form>