<section class="delivery container">
    <h2 class="visually-hidden">Delivery</h2>
    <picture class="delivery__img__wrapper">
        <source srcset="/static/images/delivery-mobile.jpg, /static/images/delivery-mobile2x.jpg 2x" media="(max-width: 767px)">
        <source srcset="/static/images/delivery-tablet.jpg, /static/images/delivery-tablet2x.jpg 2x" media="(max-width: 1023px)">
        <source srcset="/static/images/delivery.jpg, /static/images/delivery2x.jpg 2x" media="(min-width: 1024px)">   
        <img src="/static/images/delivery.jpg" srcset="/static/images/delivery.jpg, /static/images/delivery2x.jpg 2x" alt="woman" class="delivery__img">
    </picture>
    
    <div class="delivery__text">
        <h2 class="delivery__subtitle caption">Delivery</h2>
        <ul class="delivery__list list">
            <li class="delivery__item">
                <button class="delivery__btn delivery__btn_active">Delivery</button>
            </li>
            <li class="delivery__item">
                <button class="delivery__btn">Guarantee</button>
            </li>
            <li class="delivery__item">
                <button class="delivery__btn">Credit</button>
            </li>
        </ul>
        <p class="delivery__desc">
            Some days i feel like i've been working on dlk my entire life and there are other days that
            i am completely
            shocked that four years have flown by. It's simply magical.
        </p>
        <p class="delivery__desc">
            What started as an outlet to deal with the traumatic loss of my husband, dlk has now become a truly
            happy
            place for me and i have you and all of the beautiful designers that we work with to thank!
        </p>
        <a href="#" class="delivery__link btn">LEARN MORE</a>
    </div>
</section>