<section class="toys container">
    <h2 class="visually-hidden">Toys</h2>
    <ul class="toys__list list">
        @@include('toys/toys-card.html', {
            "href":"#",
            "img-m":"/static/images/toys/Sharky-mobile.png",
            "img-m2x":"/static/images/toys/Sharky-mobile2x.png",
            "img-t":"/static/images/toys/Sharky-tablet.png",
            "img-t2x":"/static/images/toys/Sharky-tablet2x.png",
            "img":"/static/images/toys/Sharky.png",
            "img2x":"/static/images/toys/Sharky2x.png",
            "alt":"product picture",
            "desc":"Sharky bean bag chair cover",
            "text":"$60.00 USD",
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img-m":"/static/images/toys/Brass-mobile.png",
            "img-m2x":"/static/images/toys/Brass-mobile2x.png",
            "img-t":"/static/images/toys/Brass-tablet.png",
            "img-t2x":"/static/images/toys/Brass-tablet2x.png",
            "img":"/static/images/toys/Brass.png",
            "img2x":"/static/images/toys/Brass2x.png",
            "alt":"product picture",
            "desc":"Brass deco frames",
            "text":"$66.00 USD",
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img-m":"/static/images/toys/Cibo-mobile.png",
            "img-m2x":"/static/images/toys/Cibo-mobile2x.png",
            "img-t":"/static/images/toys/Cibo-tablet.png",
            "img-t2x":"/static/images/toys/Cibo-tablet2x.png",
            "img":"/static/images/toys/Cibo.png",
            "img2x":"/static/images/toys/Cibo2x.png",
            "alt":"product picture",
            "desc":"Cibo full aproner",
            "text":"$60.00 USD",
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img-m":"/static/images/toys/Gatcha-mobile.png",
            "img-m2x":"/static/images/toys/Gatcha-mobile2x.png",
            "img-t":"/static/images/toys/Gatcha-tablet.png",
            "img-t2x":"/static/images/toys/Gatcha-tablet2x.png",
            "img":"/static/images/toys/Gatcha.png",
            "img2x":"/static/images/toys/Gatcha2x.png",
            "alt":"product picture",
            "desc":"Gatcha gatcha gumball machine",
            "text":"$56.00 USD",
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img-m":"/static/images/toys/Christmas-mobile.png",
            "img-m2x":"/static/images/toys/Christmas-mobile2x.png",
            "img-t":"/static/images/toys/Christmas-tablet.png",
            "img-t2x":"/static/images/toys/Christmas-tablet2x.png",
            "img":"/static/images/toys/Christmas.png",
            "img2x":"/static/images/toys/Christmas2x.png",
            "alt":"product picture",
            "desc":"Chrismas advent scented candle",
            "text":"$29.00 USD",
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img-m":"/static/images/toys/Tangle-mobile.png",
            "img-m2x":"/static/images/toys/Tangle-mobile2x.png",
            "img-t":"/static/images/toys/Tangle-tablet.png",
            "img-t2x":"/static/images/toys/Tangle-tablet2x.png",
            "img":"/static/images/toys/Tangle.png",
            "img2x":"/static/images/toys/Tangle2x.png",
            "alt":"product picture",
            "desc":"Tangle sprinning tea light",
            "text":"$56.00 USD",
        })
    </ul>
@@include('pagination/index.html')
</section>    