<li class="toys__item">
    <a href="@@href" class="toys__link">
        <div class="toys__img-wrapper">
            <picture>
                <source srcset="@@img-m, @@img-m2x 2x" media="(max-width: 767px)" class="toys__img">
                <source srcset="@@img-t, @@img-t2x 2x" media="(max-width: 1023px)" class="toys__img">
                <source srcset="@@img, @@img2x 2x" media="(min-width: 1024px)" class="toys__img">
                <img src="@@img" srcset="@@img, @@img2x 2x" alt="@@alt" class="toys__img">
            </picture>
        </div>
        <span class="toys__desc">@@desc</span>
        <span class="toys__text">@@text</span>
    </a>
</li>