<header class="header container">
    <a href="/">
      <picture>
          <source srcset="/static/images/Logo-mobile.png, /static/images/Logo-mobile2x.png 2x" media="(max-width: 767px)">
          <source srcset="/static/images/Logo-tablet.png, /static/images/Logo-tablet2x.png 2x" media="(max-width: 1023px)">
          <source srcset="/static/images/Logo.png, /static/images/Logo2x.png 2x" media="(min-width: 1024px)">
          <img src="/static/images/Logo.png" srcset="/static/images/Logo.png, /static/images/Logo2x.png 2x" alt="company logo" width="100" height="52" class="header__img" aria-label="Go main page">
      </picture>
  </a>
    <nav class="header__nav">
        <ul class="header__nav_list list">
          <li class="header__nav_item">
              <a href="../../pages/blog/index.html" class="header__nav_link">Blog</a>
          </li>
            <li class="header__nav_item ">
                <a href="../../pages/catalog/index.html" class="header__nav_link">Catalog</a>
            </li>
            <li class="header__nav_item"> 
                <a href="../../pages/toys/index.html" class="header__nav_link">Toys</a>
            </li>
            <li class="header__nav_item"> 
              <a href="../../pages/animation/index.html" class="header__nav_link">Animation</a>
          </li>
          <li class="header__nav_item">
               <a href="../../pages/svg/index.html" class="header__nav_link">SVG</a>
          </li>
          <li class="header__nav_item">
              <a href="../../pages/grid/index.html" class="header__nav_link">Grid</a>
         </li>
        </ul>
     </nav>
    <button type="button" class="header__btn_tablet">Menu</button>
    <button class="header__search" aria-label="search">
        <img src="/static/images/search.png" alt="loupe" class="header__search__img" width="17" height="18">
    </button>
    <a href="/pages/contact/index.html" class="header__contact">Contact us</a>
  
    <div class="tablet-header">
      <div class="tablet-header__container">
          <div class="tablet-header__wrapper">
              <a href="/">
                  <picture>
                      <source srcset="/static/images/Logo-mobile.png, /static/images/Logo-mobile2x.png 2x" media="(max-width: 767px)">
                      <source srcset="/static/images/Logo-tablet.png, /static/images/Logo-tablet2x.png 2x" media="(max-width: 1023px)">
                      <img src="/static/images/Logo.png" srcset="/static/images/Logo-tablet.png, /static/images/Logo-tablet2x.png 2x" alt="company logo" class=" tablet-header__img" width="62" height="32" aria-label="Go main page">
                  </picture>
              </a>
              <button type="button" class="tablet-header__btn-close">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.707105 0L0 0.707105L7.07111 7.77821L4.6869e-05 14.8493L0.707151 15.5564L7.77821 8.48532L14.8492 15.5563L15.5563 14.8492L8.48532 7.77821L15.5563 0.707178L14.8492 7.33696e-05L7.77821 7.07111L0.707105 0Z" fill="#1E0606"/>
                  </svg>                
              </button>
              <button class="header__search" aria-label="search">
                  <img src="/static/images/search.png" alt="loupe" class="header__search__img" width="17" height="18">
              </button> 
          </div>
          <ul class="tablet-header__list list">
              <li class="header__nav_item tablet-header__item">
                  <a href="../../pages/blog/index.html" class="header__nav_link">Blog</a>
              </li>
                <li class="header__nav_item tablet-header__item">
                    <a href="../../pages/catalog/index.html" class="header__nav_link">Catalog</a>
                </li>
                <li class="header__nav_item tablet-header__item"> 
                    <a href="../pages/toys/index.html" class="header__nav_link">Toys</a>
                </li>
                <li class="header__nav_item tablet-header__item"> 
                  <a href="../../pages/animation/index.html" class="header__nav_link">Animation</a>
              </li>
              <li class="header__nav_item tablet-header__item">
                   <a href="../../pages/svg/index.html" class="header__nav_link">SVG</a>
              </li>
              <li class="header__nav_item tablet-header__item"> 
                  <a href="../../pages/grid/index.html" class="header__nav_link">Grid</a>
              </li>
            </ul>
           <a href="/pages/contact/index.html" class="tablet-header__contact">Contact us</a>
        </div>
  </div>
    
  </header>