<section class="partners container">
    <h2 class="visually-hidden">partners</h2>
    <ul class="partners__list list">
        <li class="partners__item">
            <a href="#" class="partners__link">
                <picture>
                    <source srcset="/static/images/partners/mail-mobile.png, /static/images/partners/mail-mobile2x.png 2x" media="(max-width: 767px)">
                    <source srcset="/static/images/partners/mail-tablet.png, /static/images/partners/mail-tablet2x.png 2x" media="(max-width: 1023px)">
                    <source srcset="/static/images/partners/mail.png, /static/images/partners/mail2x.png 2x" media="(min-width: 1024px)">
                    <img src="/static/images/partners/mail.png" srcset="/static/images/partners/mail.png, /static/images/partners/mail2x.png 2x"  alt=" logo mail" class="partners__img">
                </picture>
            </a>
        </li>
        <li class="partners__item">
            <a href="#" class="partners__link">
                <picture>
                    <source srcset="/static/images/partners/apple-mobile.png, /static/images/partners/apple-mobile2x.png 2x" media="(max-width: 767px)">
                    <source srcset="/static/images/partners/apple-tablet.png, /static/images/partners/apple-tablet2x.png 2x" media="(max-width: 1023px)">
                    <source srcset="/static/images/partners/apple.png, /static/images/partners/apple2x.png 2x" media="(min-width: 1024px)">
                    <img src="/static/images/partners/apple.png" srcset="/static/images/partners/apple.png, /static/images/partners/apple2x.png 2x" alt="logo apple" class="partners__img">
                </picture>
            </a>
        </li>
        <li class="partners__item">
            <a href="#" class="partners__link">
                <picture>
                    <source srcset="/static/images/partners/eltex-mobile.png, /static/images/partners/eltex-mobile2x.png 2x" media="(max-width: 767px)">
                    <source srcset="/static/images/partners/eltex-tablet.png, /static/images/partners/eltex-tablet2x.png 2x" media="(max-width: 1023px)">
                    <source srcset="/static/images/partners/eltex.png, /static/images/partners/eltex2x.png 2x" media="(min-width: 1024px)" >
                    <img src="/static/images/partners/eltex.png" srcset="/static/images/partners/eltex.png, /static/images/partners/eltex2x.png 2x" alt="logo eltex" class="partners__img">
                </picture>
            </a>
        </li>
        <li class="partners__item">
            <a href="#" class="partners__link">
                <picture>
                    <source srcset="/static/images/partners/owox-mobile.png, /static/images/partners/owox-mobile2x.png 2x" media="(max-width: 767px)">
                    <source srcset="/static/images/partners/owox-tablet.png, /static/images/partners/owox-tablet2x.png 2x" media="(max-width: 1023px)">
                    <source srcset="/static/images/partners/owox.png, /static/images/partners/owox2x.png 2x" media="(min-width: 1024px)">
                    <img src="/static/images/partners/owox.png" srcset="/static/images/partners/owox.png, /static/images/partners/owox2x.png 2x" alt="logo owox" class="partners__img">
                </picture>
            </a>
        </li>
    </ul>
</section>